@import "../utility/variables.scss";
@import "../utility/mixins.scss";

header {
    .bg-body-tertiary{
        --bs-tertiary-bg-rgb:white;
    }
    .container-fluid {
        padding: 0;

        .navbar-collapse {
            justify-content: flex-end;
        }
    }
}